[submodule "sokol-tools-bin"]
	path = sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin
[submodule "include/SDL"]
	path = include/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb.git
[submodule "include/cimgui"]
	path = include/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "include/assimp"]
	path = include/assimp
	url = https://github.com/assimp/assimp.git
[submodule "include/lua"]
	path = include/lua
	url = https://github.com/lua/lua.git
[submodule "include/cware-utils"]
	path = include/cware-utils
	url = https://github.com/c-ware/cware-utils.git
[submodule "include/sokol"]
	path = include/sokol
	url = https://github.com/floooh/sokol.git
